<div class="card d-flex justify-content-center">
    <div style="margin-top: 20px;"></div>
    <p-pickList [source]="cablesByDev" (onMoveToSource)="onMoveToSource($event)" (onMoveToTarget)="onMoveToTarget($event)" [target]="Allcables" sourceHeader="Adaptateur with associated dev "
        targetHeader="availabes Adaptateurs " [dragdrop]="true" [responsive]="true"
        [sourceStyle]="{width:'5rm' ,height: '20rem' }" [targetStyle]="{width:'5rm', height: '20rem' }"
        filterBy="nomVeh" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
        breakpoint="1400px" class="custom-picklist">
        <ng-template let-cablesByDev pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">

                <div class="flex-1 flex flex-column gap-2">
                    <span >{{ cablesByDev.name}}</span>

                </div>


            </div>
        </ng-template>

    </p-pickList>
    <div style="margin-top: 20px;"></div>
</div>
