<section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info_contact">
            <h5>
              Contact Us
            </h5>
            <div class="contact_link_box">
              <a href="" class="no-underline">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Technopole El Ghazala - 1, BP99 Newton Street, Ariana 2088
                </span>
              </a>
              <a href="" class="no-underline">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="" class="no-underline">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  contact@actiagroup.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="" class="no-underline">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" class="no-underline">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="" class="no-underline">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="" class="no-underline">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_link_box">
            <h5>
              <i class="pi pi-info" style="font-size: 2rem ;color:#82c419"> </i>
             <b>About ACTIA</b> 
            </h5>
            Specialist in embedded electronic systems since its creation in 1986, the international group ACTIA designs and manufactures solutions that address the challenges related to connected, safe, and sustainable mobility in particularly demanding customer environments
          </div>
        </div>
        <div class="col-md-4">
          <h5>
            Newsletter
          </h5>
          <form action="">
            <input type="text" placeholder="Enter Your email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
