.bg-black {
    background-color: black ;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Vertical centering */
  }
   h3{
    margin-left: 20px;
  }
  .navbar-brand img.logo {
    height: 45px; /* Adjust height as needed */
    width: auto; 
    margin-left: 20px;
  }
  .login-icon {
    color: white;
    margin-right: 5px;
  }
  