.error-message {
    color: red;
    margin-top: 10px;
  }
  .bordered-form {
    border: 1px solid #ddd; /* Adjust border thickness, color, and style as needed */
    padding: 20px; /* Adjust padding if needed */
    border-radius: 5px; /* Add rounded corners if desired */
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Vertical centering */
  }
  
  .logo-container img {
    max-width: 200px;
    max-height: 100px;
    object-fit: cover;
  }
  .contact-form {
    /* Light blue background */
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    background-color: #ffffff;
    width: 49vh;
    margin: 0 auto;
  }
 
  
 
  .contact_section {
    background: rgb(235, 233, 233);
  }