.contact_section {
  background: rgb(235, 233, 233); /* Set your desired background color */
  }
  .contact-form {
   background-color: white;
   margin-top: 5erm;
}
.example-form {
  min-width:100%;
  max-width: 500px;
 
}

.full-width {
  width: 100%;
}