<!-- landing-page.component.html -->
<!-- landing-page.component.html -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="jumbotron text-center">
        <h1>Bienvenue sur notre Plateforme Caritative</h1>
        <p>Découvrez comment vous pouvez contribuer et faire une différence dans la vie des autres.</p>
        <p>Explorez nos actions caritatives, rejoignez-nous et soyez partie intégrante du changement positif.</p>
        <a routerLink="/events" class="btn btn-primary btn-lg">Voir les Événements</a>
      </div>
    </div>
  </div>
</div>

  
  
