.bordered-form {
    border: 1px solid #ddd; /* Adjust border thickness, color, and style as needed */
    padding: 20px; /* Adjust padding if needed */
    border-radius: 5px; /* Add rounded corners if desired */
    background-color: #ffffff ;
  }
  .contact_section {
    background: rgb(235, 233, 233);
    height: 100%; /* Set your desired background color */
  }
  .contact-form {
    background-color: #ffffff;
   
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
   
  }
  
  .example-full-width {
    width: 100%;
    height: 100%;
  }