<section class="contact_section layout_padding">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-8 mx-auto zzzzzzzzzzz">
        <div class="contact-form border rounded p-4" style="padding: 20px; border-radius: 5px;">
          <div class="heading_container">
            <h3>Change Password</h3>
          </div>

          <form #changePasswordForm="ngForm" style="margin-left: 10px; border-radius: 5px;"
            (ngSubmit)="changePassword(changePasswordForm.value, user)">
            <div class="form-group">
              <mat-form-field appearance="fill" class="full-width"> <!-- Make the input fields full width -->
                <mat-label>Current Password</mat-label>
                <input matInput type="password" name="currentPassword" ngModel required />

              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="fill" class="full-width"> <!-- Make the input fields full width -->
                <mat-label> New Password</mat-label>
                <input matInput type="password" name="newPassword" minlength="6" ngModel required />
             
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="fill" class="full-width "> <!-- Make the input fields full width -->
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" name="confirmationPassword" ngModel required />

              </mat-form-field>
            </div>
            <div class="btn-box">
              <button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
            </div>
          </form>

          <br>
          <div *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="form-group">
            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissed fade show" role="alert">
              Operation failed: {{ errorMessage }}

            </div>
            <div *ngIf="isSuccessful " class="alert alert-success " role="alert">
              Password changed succesfully
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>