
.contact_section {
  padding: 50px 0; /* Adjust padding as needed */
  
  background: rgb(235, 233, 233); /* Set your desired background color */
  
  
}

.contact-form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

.form-group {
  margin-bottom: 15px; /* Adjust spacing between form groups */
}

.error-message {
  color: red;
  font-size: 12px; /* Adjust font size as needed */
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-full-width.mat-form-field:hover {
  background-color: red; /* Replace with your color */
}
