

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex:1 ;
    margin: 10px;

}



h2 {
    margin-top: 0;
}



label {
    display: block;
    margin-bottom: 5px;
}


input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.grid {
     /* Adjust width as needed */
    display: grid;
}
.form-control{
    width: 80%;
}
.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
  }
  
 


.mat-tab-body-content .card {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure the form takes up full height */
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 