<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Developpment">
        <div class="row">
            <div class="col">
                <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()" style="max-width: 600px; margin: 12px 12px;"
                    novalidate [ngStyle]="{backgroundColor: 'var(--highlight-bg)'}">
                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Dev Name</mat-label>
                                <input matInput type="text" id="devname" [(ngModel)]="dev.devname" name="devname"
                                    required>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Version</mat-label>
                                <mat-select name="dev.maj.nomMaj" [(ngModel)]="dev.maj.nomMaj" id="">
                                    <mat-option placeholder="" value="">{{dev.maj.nomMaj}}</mat-option>
                                    <mat-option *ngFor="let maj of majs" [value]="maj.idMaj">{{maj.nomMaj}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Dll</mat-label>
                                <input matInput type="text" [(ngModel)]="dev.dll" id="dll" name="dll" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Site</mat-label>
                                <mat-select name="dev.user.site" [(ngModel)]="dev.user.site" id="">
                                    <mat-option placeholder="" value="">Site</mat-option>
                                    <mat-option *ngFor="let site of sites"
                                        [value]="site.idSite">{{site.nomSite}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Developer</mat-label>
                                <mat-select name="dev.user.username" [(ngModel)]="dev.user.username"
                                    id="dev.user.username">

                                    <mat-option *ngFor="let User of allUsers"
                                        [value]="User.id">{{User.username}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Type Dev</mat-label>
                                <input matInput type="text" id="typeDev" [(ngModel)]="dev.etatdev.nomEtatDev"
                                    name="typeDev" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>History</mat-label>
                                <textarea matInput id="history" name="history" [(ngModel)]="form.history"
                                    required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Comment</mat-label>
                                <textarea matInput id="comment" name="devcomment" [(ngModel)]="dev.devComment"
                                    required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>bug</mat-label>
                            <textarea matInput id="numbeg" name="numbeg" [(ngModel)]="dev.numBug" required></textarea>
                        </mat-form-field>
                    </div>

                    <div class="button-container">


                        <button type="button" class="btn btn-secondary">Update</button>
                        
        
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="col">
                         <p>Fonctions</p>
                         
                        <p-listbox [options]="fonctions"  optionLabel="name" [listStyle]="{ 'max-height': '1000px' }" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '1000px'}">
                            <ng-template let-fonction pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    
                                    <div>{{ fonction.NomFonction }}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                   
                </div>
                <div class="col">
                    <p>Fonctions List</p>
               
                   <p-listbox [options]="validations"  optionLabel="name" [listStyle]="{ 'max-height': '1000px' }" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '1000px'}">
                       <ng-template let-validation pTemplate="item">
                           <div class="flex align-items-center gap-2">
                               
                               <div>{{ validation.typeValid }} {{validation.etatValid}} {{validation.dateValid}}</div>
                           </div>
                       </ng-template>
                   </p-listbox>

                 
              
           </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Vehicules">

        <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available Vehicules "
            targetHeader="Vehicules associated with dev " [dragdrop]="true" [responsive]="true"
            [sourceStyle]="{width:'5rm' ,height: '20rem' }" [targetStyle]="{width:'5rm', height: '20rem' }"
            filterBy="nomVeh" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
            breakpoint="1400px" class="custom-picklist">
            <ng-template let-Vehicule pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">

                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{ Vehicule?.nomVeh }}</span>

                    </div>
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{ Vehicule?.marque?.nomMarque }}</span>

                    </div>

                </div>
            </ng-template>
            
        </p-pickList>


    </mat-tab>
    <mat-tab label="CDC">
        <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()"
            style="max-width: 600px; margin-left: 500px ;margin-top: 50px;" novalidate>
            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" id="dev.cdc.nomCdc" [(ngModel)]="dev.cdc.nomCdc" name="nomCdc"
                            required>
                    </mat-form-field>
                </div>

            </div>
            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Reference Ardia </mat-label>
                        <input matInput type="text" id="refCdcArdia" [(ngModel)]="dev.cdc.refCdcArdia"
                            name="refCdcArdia" required>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>References Actia</mat-label>
                        <input matInput type="text" id="dev.cdc.refCdc" [(ngModel)]="dev.cdc.refCdc"
                            name="dev.cdc.refCdc" required>
                    </mat-form-field>
                </div>

            </div>

            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Indice</mat-label>
                        <input matInput type="text" id="indCdc" [(ngModel)]="dev.cdc.indCdc" name="indCdc" required>
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dev.cdc.creation">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Site</mat-label>
                        <mat-select name="dev.user.site" [(ngModel)]="dev.user.site" id="site">
                            <mat-option placeholder="" value="">site</mat-option>
                            <mat-option *ngFor="let site of sites" [value]="site.idSite">{{site.nomSite}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label> Data Source</mat-label>
                        <mat-select name="dev.cdc.reverse.nomReverse" [(ngModel)]="dev.cdc.reverse.nomReverse"
                            id="dev.cdc.reverse.nomReverse">
                            <mat-option placeholder="" value="cdc.reverse.nomReverse">datasource</mat-option>
                            <mat-option *ngFor="let reverse of reverses"
                                [value]="reverse.idReverse">{{reverse.nomReverse }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="button-container">


                <button type="button" class="btn btn-secondary">Update</button>
                <button type="button" (click)="showDialog()" class="btn btn-secondary">Select Cdc</button>
                <button type="button" class="btn btn-secondary">Validate</button>

            </div>


        </form>

    </mat-tab>

    <mat-tab label="Menu">
        <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()"
            style="max-width: 600px; margin-left: 500px ;margin-top: 50px;" novalidate>
            <div class="row">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>URL</mat-label>
                    <input matInput type="url" id="pathMenu" [(ngModel)]="dev.menu.pathMenu" name="pathMenu" required>
                </mat-form-field>

                <div class="file-input">
                    <input type="file" accept=".pdf, .doc, .docx">
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Ecu Name</mat-label>
                    <input matInput type="url" id="nomEcu" [(ngModel)]="dev.ecu.nomEcu" name="nomEcu" required>
                </mat-form-field>


            </div>

            <div class="button-container">
                <button type="button" class="btn btn-secondary">Generate Menu</button>
                <button type="button" class="btn btn-secondary">Generate XML </button>
                <button type="button" class="btn btn-secondary">Update </button>

            </div>


        </form>

    </mat-tab>
    <mat-tab label="Adaptateur">
        <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()"
            style="max-width: 600px; margin-left: 500px ;margin-top: 50px;" novalidate>
            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" id="nomCdc" [(ngModel)]="form.cdc.nomCdc" name="nomCdc" required>
                    </mat-form-field>
                </div>

            </div>
            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Reference Ardia </mat-label>
                        <input matInput type="text" id="refCdcArdia" [(ngModel)]="form.cdc.refCdcArdia"
                            name="refCdcArdia" required>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>References Actia</mat-label>
                        <input matInput type="text" id="refCdc" [(ngModel)]="form.cdc.refCdc" name="refCdc" required>
                    </mat-form-field>
                </div>

            </div>

            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Indice</mat-label>
                        <input matInput type="text" id="indCdc" [(ngModel)]="form.cdc.indCdc" name="indCdc" required>
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="row g-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Site</mat-label>
                        <mat-select name="NomSite" [(ngModel)]="form.user" id="NomSite">
                            <mat-option placeholder="" value="">site</mat-option>
                            <mat-option *ngFor="let site of sites" [value]="site.idSite">{{site.nomSite }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label> Data Source</mat-label>
                        <mat-select name="NomSite" [(ngModel)]="form.user" id="NomSite">
                            <mat-option placeholder="" value="">Developer</mat-option>
                            <mat-option *ngFor="let reverse of reverses"
                                [value]="reverse.idReverse">{{reverse.nomReverse }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>




        </form>

    </mat-tab>
</mat-tab-group>



<p-dialog header="Select Cdc" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="visible"
    [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
    <p-table [value]="cdc" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">

        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>ind</th>
                <th>site</th>
                <th></th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cdc>
            <tr>
                <td>{{cdc.idCdc}}</td>
                <td>{{cdc.nomCdc}}</td>
                <td>{{cdc.refCdc}}</td>
                <td>{{cdc.indCdc}}</td>
                <td>{{cdc.dev?.user?.site}}</td>
                <td>
                    <button type="button" pButton pRipple icon="pi pi-plus" (click)="selectProduct(cdc)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-times" (click)="visible=false" label="Dismiss"
            class="p-button-text"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="visible1" [style]="{width: '50vw', 'box-shadow': '0px 2px 5px rgba(0, 0, 0, 0.3)'} ">
    <ng-template pTemplate="content">
        <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()" style="width: 100%;" novalidate>
            <div class="row g-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="devName" [(ngModel)]="form.devname" name="devName"
                            required>
                        <label for="devName">Dev Name</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <select data-trigger="" id="idmaj" [(ngModel)]="form.version" name="choices-single-defaul2"
                            class="form-select">
                            <option placeholder="" value="">Version</option>
                            <option *ngFor="let maj of majs" [value]="maj.idMaj">{{maj.nomMaj}}</option>
                        </select>
                        <label for="version">Version</label>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" [(ngModel)]="form.dll" id="dll" name="dll" required>
                        <label for="dll">Dll</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <select data-trigger="" name="choices-single-defaul4" [(ngModel)]="form.site"
                            class="form-select">
                            <option placeholder="" value="">Site</option>
                            <option *ngFor="let site of sites" [value]="site.idSite">{{site.nomSite }}</option>
                        </select>
                        <label for="site">Site</label>
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <select data-trigger="" name="choices-single-defaul6" [(ngModel)]="form.developer"
                            class="form-select">
                            <option placeholder="" value="">model</option>
                            <option *ngFor="let User of allUsers" [value]="User.id">{{User.username}}</option>
                        </select>
                        <label for="developer">Developer</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="typeDev" [(ngModel)]="form.typeDev" name="typeDev"
                            required>
                        <label for="typeDev">Type Dev</label>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="history" name="history" [(ngModel)]="form.history"
                            required></textarea>
                        <label for="history">History</label>

                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="comment" name="comment" [(ngModel)]="form.devComment"
                            required></textarea>
                        <label for="comment">Comment</label>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="bug" name="bug" [(ngModel)]="form.bug" required>
                <label for="bug">Bug</label>
            </div>
            <div class="btn-box">
                <button type="submit" disabled class="btn btn-success">Validate</button>
            </div>
        </form>
    </ng-template>
</p-dialog>