<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="contact-form border" style="padding: 20px; border-radius: 5px;">
                    <div class="heading_container">
                        <h4>Reset Password Confirmation</h4>
                    </div>
                    <form (submit)="confirmResetPassword()">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="full-width"> <!-- Make the input fields full width -->
                              <mat-label>new Password</mat-label>
                              <input matInput type="password" name="newPassword" [(ngModel)]="newPassword" required />
                              
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field appearance="fill" class="full-width"> <!-- Make the input fields full width -->
                              <mat-label>Confirm Password </mat-label>
                              <input matInput type="password" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" required />
                              
                            </mat-form-field>
                          </div>
                        
                        <div class="btn-box">
                            <button type="submit" class="btn btn-primary"> Reset Password</button>
                        </div>
                    </form>
                    <br>
                    <div>
                    <div *ngIf=" isFailed && !isLoading"
                        class="alert alert-danger alert-dismissed fade show" role="alert">
                         Error: {{ errorMessage }}
                        
                    </div>
                    <div *ngIf="sucessMessage" class="alert alert-success " role="alert">
                        The Password has changed successfuly!
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
  